{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid">

    <section>
        {% include "researchdata/snippets/viewinadmindashboard.html" with admin_url=admin_url %}

        <h2>{{ object }}</h2>

        <ul class="tabs">
            {% if object.permission_reproduce_image or object.permission_reproduce_text %}
                <li id="transcription">Transcription</li>
            {% endif %}
            <li id="details">Letter Details</li>
            {% if letterperson_details %}
                <li id="people">People ({{ letterperson_details | length }})</li>
            {% endif %}
            {% if related_letters %}
                <li id="relatedletters">Related Letters ({{ related_letters | length }})</li>
            {% endif %}
        </ul>
    </section>

    {% if object.permission_reproduce_image or object.permission_reproduce_text %}
        <section class="tabbed" id="tabbed-transcription">
            <div class="tabbed-title">Transcription</div>

            {% if object.permission_reproduce_image %}
                <div id="transcription-images" class="transcription-section {% if not object.permission_reproduce_text %}sole-section{% endif %}">
                    {% for image in object.letterimage_set.all %}
                        <h3>Image {{ forloop.counter }} of {{ object.letterimage_set.all | length }}</h3>
                        {% if image.description %}
                            <p>{{ image.description }}</p>
                        {% endif %}
                        <div id="transcription-images-image-container-{{ forloop.counter }}" class="transcription-images-image-container">
                            <img src="{{ image.image.url }}" alt="{{ image }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if object.permission_reproduce_text %}
                <!-- Transcription Text -->
                <div id="transcription-texts" class="transcription-section {% if not object.permission_reproduce_image %}sole-section{% endif %}">
                    <!-- Switch between texts -->
                    <div id="transcription-texts-switch">
                        <div data-textid="plain">Plain</div><div data-textid="normalized">Normalized</div>
                    </div>
                    <!-- Transcription Text: Plain -->
                    <div id="transcription-texts-text-plain" class="transcription-texts-text">
                        {{ letter.transcription_plain | safe | linebreaksbr }}
                    </div>
                    <!-- Transcription Text: Normalized -->
                    <div id="transcription-texts-text-normalized" class="transcription-texts-text">
                        {{ letter.transcription_normalized | safe | linebreaksbr }}
                    </div>
                </div>
            {% endif %}

        </section>
    {% endif %}

    <section class="tabbed container" id="tabbed-details">
        <div class="tabbed-title">Details</div>
        {% include "researchdata/snippets/details-detail.html" with details=details %}
    </section>

    <section class="tabbed container" id="tabbed-people">
        <div class="tabbed-title">People</div>
        {% include "researchdata/snippets/letterpersons.html" %}
    </section>

    {% if related_letters %}
        <section class="tabbed container" id="tabbed-relatedletters">
            <div class="tabbed-title">Related Letters</div>

            <div class="detail-relateditems">
                {% for related_letter in related_letters %}
                    <a class="detail-relateditems-item" href="{% url 'researchdata:letter-detail' related_letter.id %}">{{ related_letter }}</a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

</div>

<!-- Load JS -->
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/transcription.js' %}"></script>

{% endblock %}