{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid">

    <section>
        {% include "researchdata/snippets/viewinadmindashboard.html" with admin_url=admin_url %}

        <h2>{{ object }}</h2>

        <ul class="tabs">
            {% if object.permission_reproduce_image or object.permission_reproduce_text %}
                <li id="transcription">Transcription</li>
            {% endif %}
            <li id="details">Letter Details</li>
            {% if letterperson_details %}
                <li id="people">People ({{ letterperson_details | length }})</li>
            {% endif %}
            {% if related_letters %}
                <li id="relatedletters">Related Letters ({{ related_letters | length }})</li>
            {% endif %}
        </ul>
    </section>

    {% if object.permission_reproduce_image or object.permission_reproduce_text %}
        <section class="tabbed" id="tabbed-transcription">
            <div class="tabbed-title">Transcription</div>

            <div id="detail-fullscreen">s</div>

            {% if object.permission_reproduce_image %}
                <div id="transcription-images" class="transcription-section {% if not object.permission_reproduce_text %}sole-section{% endif %}">
                    {% for image in object.letterimage_set.all %}
                        <h3>Image {{ forloop.counter }} of {{ object.letterimage_set.all | length }}</h3>
                        {% if image.description %}
                            <p>{{ image.description }}</p>
                        {% endif %}
                        <div class="transcription-images-image-container" data-imageid="{{ image.id }}">
                            <img src="{{ image.image.url }}" alt="{{ image }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if object.transcription_is_public %}
                <div id="transcription-publicinput" class="transcription-section {% if not object.permission_reproduce_image %}sole-section{% endif %}">
                    <!-- Switch between new/exising transcriptions -->
                    <div id="transcription-publicinput-switch" class="transcription-content-switch">
                        <div data-textid="new">Create a New Transcription</div><div data-textid="existing">View Existing Transcriptions</div>
                    </div>

                    <!-- New transcription form -->
                    <div id="transcription-content-section-new" class="transcription-content-section">
                        <form id="transcription-publicinput-new-form" enctype="multipart/form-data" name="transcription-publicinput-new-form" method="POST" action="{% url 'researchdata:transcribe-submit' %}">
                            {% csrf_token %}

                            <input type="hidden" name="letter-id" value="{{ object.id }}">

                            <div id="transcription-publicinput-new-form-welcome">
                                <p>
                                    Thank you for helping us transcribe these letters. Your work as a ‘digital citizen’ will contribute to this open-access collection of letters and help to make them more accessible. You will also be contributing to the ‘Material Identities, Social Bodies’ research project.
                                </p>
                                <p>
                                    Some general tips:
                                </p>
                                <ul>
                                    <li>The ‘Golden Rule’: Please transcribe exactly what is written in the letters (including any exact spelling, capitalization and punctuation). Try to replicate the layout, too (starting a new line when the letter writer does so).</li>
                                    <li>Handwriting can be difficult to read. If something is illegible you can simply insert ‘[illeg]’. If you think you know what something says, but are not entirely sure (for example, if you <em>think</em> the word may be ‘butter’), you can insert ‘[?butter]’. Anything in square brackets is your comment (and not in the original).</li>
                                    <li>Most letters are more than one page. If you wish to transcribe the whole letter, that’s terrific. But you can also choose to transcribe just one page if you prefer.</li>
                                    <li>Your transcription will not go live immediately but will be quickly reviewed before being published on this page.</li>
                                    <li>Use our <a href="{% static 'documents/social-bodies-guidance-on-transcription.pdf' %}" target="_blank">‘Guidance on Transcription’</a> if you are unsure how to record something.</li>
                                </ul>
                            </div>

                            {% if existingtranscriptionscount %}
                                <div id="transcription-publicinput-new-form-existingtranscriptionscount">
                                    Note: This letter has already been transcribed {{ existingtranscriptionscount }} time{% if existingtranscriptionscount != 1 %}s{% endif %} (some may be pending approval, so not yet visible). Please review these existing transcriptions first to prevent duplicating transcriptions.
                                </div>
                            {% endif %}

                            {% for image in object.letterimage_set.all %}
                                <h3>Transcribe Image {{ forloop.counter }}</h3>
                                <textarea class="transcription-publicinput-new-form-transcribe" name="transcribe-image-{{ image.id }}" data-imageid="{{ image.id }}"></textarea>
                            {% endfor %}

                            <div id="transcription-publicinput-new-form-personalinfo">
                                <div>
                                    <label for="transcription-publicinput-new-form-personalinfo-name">Name</label>
                                    <input id="transcription-publicinput-new-form-personalinfo-name" type="text" name="name">
                                    <div class="helptext">Optional. Will be shared on the website.</div>
                                </div>

                                <div>
                                    <label for="transcription-publicinput-new-form-personalinfo-email">Email</label>
                                    <input id="transcription-publicinput-new-form-personalinfo-email" type="email" name="email">
                                    <div class="helptext">Optional. Will not be shared on the website.</div>
                                </div>

                                <div>
                                    <label for="transcription-publicinput-new-form-personalinfo-country">Country</label>
                                    <select id="transcription-publicinput-new-form-personalinfo-country" name="country">
                                        <option value="">-- Please select --</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="helptext">Optional. Will not be shared on the website.</div>
                                </div>
                            </div>

                            <div id="transcription-publicinput-new-form-consent">
                                <label>
                                    <input type="checkbox" required> I give my consent for this data to be stored by the project team and for certain bits of data to be shared publicly, including through this website.
                                </label>
                            </div>

                            <button id="transcription-publicinput-new-form-submit" type="submit">Submit</button>
                        </form>
                    </div>

                    <!-- Existing Trancriptions -->
                    <div id="transcription-content-section-existing" class="transcription-content-section">
                        {% if letterpublictranscriptions %}
                            <label for="transcription-publicinput-existing-select">Select an existing transcription:</label>
                            <select id="transcription-publicinput-existing-select">
                                {% for lpt in letterpublictranscriptions %}
                                    <option value="{{ lpt.id }}">{{ lpt }}</option>
                                {% endfor %}
                            </select>
                            
                            {% for lpt in letterpublictranscriptions %}
                                <div class="transcription-publicinput-existing-instance" data-id="{{ lpt.id }}">
                                    {% for page in lpt.letterimagepublictranscription.all %}
                                        <div class="transcription-publicinput-existing-instance-page" data-imageid="{{ page.letter_image.id }}">
                                            <h3>Image {{ page.image_order_in_letter }}</h3>
                                            <div >
                                                {{ page.transcription_text | safe | linebreaks }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>
                                No existing transcriptions to show.
                            </p>
                            <p>
                                Please check back soon.
                            </p>
                        {% endif %}
                    </div>
                </div>

            {% elif object.permission_reproduce_text %}
                <!-- Transcription Text -->
                <div id="transcription-texts" class="transcription-section {% if not object.permission_reproduce_image %}sole-section{% endif %}">
                    <!-- Switch between texts -->
                    <div id="transcription-texts-switch" class="transcription-content-switch">
                        <div data-textid="plain">Plain</div><div data-textid="normalized">Normalized</div>
                    </div>
                    <!-- Transcription Text: Plain -->
                    <div id="transcription-content-section-plain" class="transcription-content-section">
                        {{ letter.transcription_plain | safe | linebreaksbr }}
                    </div>
                    <!-- Transcription Text: Normalized -->
                    <div id="transcription-content-section-normalized" class="transcription-content-section">
                        {{ letter.transcription_normalized | safe | linebreaksbr }}
                    </div>
                </div>
            {% endif %}

        </section>
    {% endif %}

    <section class="tabbed container" id="tabbed-details">
        <div class="tabbed-title">Details</div>
        {% include "researchdata/snippets/details-detail.html" with details=details %}
    </section>

    <section class="tabbed container" id="tabbed-people">
        <div class="tabbed-title">People</div>
        {% include "researchdata/snippets/letterpersons.html" %}
    </section>

    {% if related_letters %}
        <section class="tabbed container" id="tabbed-relatedletters">
            <div class="tabbed-title">Related Letters</div>

            <div class="detail-relateditems">
                {% for related_letter in related_letters %}
                    <a class="detail-relateditems-item" href="{% url 'researchdata:letter-detail' related_letter.id %}">{{ related_letter }}</a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

</div>

<!-- Load JS -->
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/transcription.js' %}"></script>

{% endblock %}