{% extends "base.html" %}
{% load static %}
{% load pagination_go_to_page %}

{% block main %}

<!-- List Head -->
<section id="list-head" class="container compact">

    <!-- List Title -->
    <h2>{% block list_title %}{% endblock %}</h2>

    <!-- List Options -->
    <div class="list-options">
        
        <!-- Form element has no action attribute, so that it submits to the same page -->
        <form method="GET" class="form-group" id="list-options-form">
            <!-- Search -->
            <div class="list-options-search row">
                <div class="col-12">
                    <div class="input-group">
                        <!-- Search By -->
                        <select id="list-options-searchby" name="search_by" title="search by">
                            <option value="">Full search</option>
                            {% block list_options_searchby %}{% endblock %}
                        </select>
                        <!-- Search textbox -->
                        <input type="text" class="form-control" name="search" title="search" id="list-options-search-input" placeholder="Search text">
                        <!-- Search button -->
                        <div class="input-group-append">
                            <button type="submit" value="Search" class="btn btn-primary" title="search-btn" id="list-options-search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Filters -->
            <div id="list-options-filters">
                <div>Filters:</div>
                {% for f in filters %}
                    <div class="list-options-filters-filter">
                        <label for="{{ f.filter_id }}">{{ f.filter_name }}</label>
                        <select id="{{ f.filter_id }}" title="{{ f.filter_id }}" name="{{ f.filter_id }}">
                            {% include 'researchdata/snippets/select-default.html' %}
                            {% for o in f.filter_options %}
                                <option value="{% if o.html_select_value_field %}{{ o.html_select_value_field }}{% else %}{{ o.id }}{% endif %}"{% if o.data_hierarchy_parents_ids %} data-hierarchy-parents-ids="{{ o.data_hierarchy_parents_ids }}"{% endif %}>{{ o }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>

            <!-- Order -->
            <div id="list-options-order">
                <label>Order by:</label>
                <!-- Order by -->
                <select id="list-options-order-by" name="order_by">
                    {% block list_options_orderby %}{% endblock %}
                </select>
                <!-- Order direction -->
                <select id="list-options-order-direction" name="order_direction">
                    <option value="">Asc (A-Z, 0-9)</option>
                    <option value="-">Desc (Z-A, 9-0)</option>
                </select>
            </div>

            <!-- Links -->
            <div id="list-options-links">
                <span id="list-options-links-reset" class="reset-form"><i class="fas fa-redo"></i> Reset</span>
            </div>

            <!-- Views -->
            <div id="list-options-views">
                <label>View:</label>
                <i id="list-options-views-grid" class="fas fa-th" title="Grid view"></i>
                <i id="list-options-views-list" class="fas fa-bars" title="List view"></i>
            </div>
        </form>

    </div>
</section>

<!-- List Body -->
<section id="list-body" class="container compact">
    {% for object in object_list %}
        <!-- Set the URL based on the main model supplied to this page -->
        <div class="list-body-item">
            <a href="{% block list_item_link %}{% endblock %}" class="list-body-item-link">
                <div class="list-body-item-title">{{ object.list_title }}</div>
                {% if object.list_image.image %}
                    <img src="{{ object.list_image.image.url }}" alt="letter preview">
                {% endif %}
                <div class="list-body-item-details">{{ object.list_details }}</div>
            </a>
            <!-- Search Meta -->
            {% if search_meta %}
                <div class="list-body-item-searchmeta">
                    <div>Search criteria found in:</div>
                    <!-- Loop through object ids in search_meta dict to find matching id to current object -->
                    {% for s in search_meta %}
                        {% if s.id == object.id %}
                            <!-- Within the matching object, loop through list of search_meta key value pairs -->
                            {% for key, value in s.items %}
                                <!-- Ignore id and only show if count is at least 1 -->
                                {% if key != "id" and value.count > 0 %}
                                    <a href="/database/{{ object.breadcrumbs_list.url }}/{% if object.code %}{{ object.code }}{% else%}{{ object.id }}{% endif %}/{{ value.url_parameters }}"><span>{{ key }}</span> ({{ value.count }} occurrence{% if value.count != 1 %}s{% endif %})</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% empty %} 
        <div id="list-body-empty">
            <div id="list-body-empty-title">
                No records found.
            </div>
            <div id="list-body-empty-details">
                Try expanding your search criteria or <strong class="reset-form">resetting the search</strong> to view all items.
            </div>
        </div>
    {% endfor %}
</section>

<!-- List Pagination, if there are multiple pages -->
{% if page_obj.paginator.num_pages > 1 %}
    <section id="list-pagination" class="container compact">

        <div class="list-pagination-section{% if page_obj.has_previous == False %} disabled{% endif %}">
            <!-- First Page -->
            <div class="list-pagination-action">
                {% if page_obj.has_previous %}
                    <a class="fas fa-angle-double-left" href="{% pagination_go_to_page page_number=1 %}" title="First"></a><label>First</label>
                {% endif %}
            </div>
            <!-- Previous Page -->
            <div class="list-pagination-action">
                {% if page_obj.has_previous %}
                    <a class="fas fa-angle-left" href="{% pagination_go_to_page page_number=page_obj.previous_page_number %}" title="Previous"></a><label>Previous</label>
                {% endif %}
            </div>
        </div>

        <div class="list-pagination-section">
            <!-- Current page info -->
            <span class="list-pagination-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </div>

        <div class="list-pagination-section{% if page_obj.has_next == False %} disabled{% endif %}">
            <!-- Next Page -->
            <div class="list-pagination-action">
                {% if page_obj.has_next %}
                    <a class="fas fa-angle-right" href="{% pagination_go_to_page page_number=page_obj.next_page_number %}" title="Next"></a><label>Next</label>
                {% endif %}
            </div>
            <!-- Last Page -->
            <div class="list-pagination-action">
                {% if page_obj.has_next %}
                    <a class="fas fa-angle-double-right" href="{% pagination_go_to_page page_number=page_obj.paginator.num_pages %}" title="Last"></a><label>Last</label>
                {% endif %}
            </div>
        </div>

    </section>
{% endif %}

<!-- JS -->
<script>
$(document).ready(function() {

    function getCookie(name) {
        var c_list = document.cookie.split("; "), i = 0, c, c_name, c_value;
        for (i = 0; i < c_list.length; i++) {
            c = c_list[i].split('=');
            c_name = c[0];
            c_value = c[1];
            if (c_name === name) return c_value;
        }
        return null;
    }

    // Switch views: grid vs list
    var cookieViewKey = 'socialbodiesListOptionsView';
    $('#list-options-views i').on('click', function(){
        var view = $(this).attr('id').slice(-4); // either 'grid' or 'list'

        // Set the cookie
        document.cookie = cookieViewKey + "=" + view + "; expires=Mon, 31 Dec 2050 23:59:59 GMT; path=/; Secure;";

        // Set the view of the list items
        // listview
        if (view == 'list') $('.list-body-item').addClass('listview').removeClass('gridview');
        // gridview
        else $('.list-body-item').addClass('gridview').removeClass('listview');

        // Toggle active state of view button
        $('#list-options-views i').removeClass('active');
        $('#list-options-views-' + view).addClass('active');
    });
    // Trigger on page load - either from cookie if exists, or default to grid view if no cookie
    if (getCookie(cookieViewKey) !== null) $('#list-options-views-' + getCookie(cookieViewKey)).trigger('click');
    else $('#list-options-views-grid').trigger('click');

    // Reset form
    $('.reset-form').on('click', function(){
        // Go to the current URL but without any parameters (remove everything after ? in url)
        window.location.replace(window.location.href.split('?')[0]);
    });

    // Submit list options form (search, order, etc.) on change of certain inputs
    $('#list-options-order-by, #list-options-order-direction').on('change', function(){
        $('#list-options-form').submit();
    });

    // Auto-submit form on change of 'search by' if text is already in search field
    $('#list-options-searchby').on('change', function(){
        if ($('#list-options-search-input').val() !== '') {
            $('#list-options-form').submit();
        }
    });

    // Fill form values from URL parameters
    function setFormItemValueFromUrlParameter(formItemID, urlParameter) {
        var value = new URL(window.location.href).searchParams.get(urlParameter);
        if(value) document.getElementById(formItemID).value = value;
    }
    // Apply above function to all form fields:
    // Search
    setFormItemValueFromUrlParameter("list-options-search-input", "search");
    setFormItemValueFromUrlParameter("list-options-searchby", "search_by");
    // Order
    setFormItemValueFromUrlParameter("list-options-order-by", "order_by");
    setFormItemValueFromUrlParameter("list-options-order-direction", "order_direction");
});
</script>


{% endblock %}