{% extends "researchdata/list.html" %}
{% load static %}

<!-- Title -->
{% block list_title %}
    People
{% endblock %}

<!-- Link to detail -->
{% block list_item_link %}
    {% url 'researchdata:person-detail' object.id %}
{% endblock %}

<!-- Search By -->
{% block list_options_searchby %}
    <option value="name">Name</option>
{% endblock %}

<!-- Order By -->
{% block list_options_orderby %}
    <optgroup label="Alphabetical">
        <option value="name">Name</option>
    </optgroup>
    <optgroup label="Numerical">
        <option value="count_xxx">Number of xxx</option>
    </optgroup>
{% endblock %}
