{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">

    <section>
        <h2>Error in Submission</h2>
        <p>
            There was an error when trying to submit your transcription. Please press back in your browser to return to your transcription. You may wish to copy and paste the content of your transcription into another place (e.g. into a Word document) to keep it safe. Please then try to resubmit the form.
        </p>
        <p>
            If the error persists, please email us at <a href="mailto:socialbodies@contacts.bham.ac.uk">socialbodies@contacts.bham.ac.uk</a> and we'll be happy to help.
        </p>
    </section>

</div>

{% endblock %}