{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">

    <section>
        <h2>Transcription Submitted Successfully</h2>
        <p>
            Thank you for successfully submitting your transcription. The project team have been notified of this and will soon review your submission. If approved, it will be listed on the public website for you and others to see. If you included your name in this submission, this will also be included.
        </p>
        <p>
            If you have any questions in the meantime, please email us at <a href="mailto:socialbodies@contacts.bham.ac.uk">socialbodies@contacts.bham.ac.uk</a> and we'll be happy to help.
        </p>
    </section>

</div>

{% endblock %}