{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">
        <h2>Resources</h2>
        <p>
            Letters are a wonderful teaching and learning resource for all ages. Since autumn 2022, we have used letters in workshops for childnre and adult learners. In spring 2025, researchers from the Department of History at the University of Birmingham conducted the outreach and impact project, ‘A Time for Letters: Reading, Writing and Talking with Historical Letters’ (funded by the Impact Acceleration Account from the Arts and Humanities Research Council). The project used letter-writing and letter-reading to catalyse literacy, conversation and reflection for children, young people and adult learners; it also worked with members of the public in local archives and users of AgeUK. We ran a total of forty-three workshops, involving around 800 participants: sixteen of these were held in primary and secondary schools, involving around 480 children.
        </p>
        <p>
            Using letters from the project, the University of Birmingham team co-designed a series of workshops, ranging in length between 50 and 90 minutes for years 5, 6, 7, 8, 9, 10, 12, 13 and 14, with the National Literacy Trust. The workshops took place in the context of either the English or History curriculum, though the content relating to communication, friendship and relationships would also be relevant for PSHE. Our aims were several: to develop skills in speaking, reading, handwriting, letter-writing, creative writing, the interpretation of historical materials and critical thinking; to introduce new resources and place-based content to teachers; to enhance pupils’ understanding of local heritage and this period of history more broadly; to provide an opportunity to develop emotional literacy and ‘character’ by thinking about interpersonal communication and relationships.
        </p>
        <p>
            You can download materials for KS2 and KS3 workshops:
        </p>
        <ul>
            <li><a href="{% static 'documents/resources/KS2 Lesson Plan.pdf' %}" target="_blank">KS2 Lesson Plan</a></li>
            <li><a href="{% static 'documents/resources/KS2 PowerPoint.pptx' %}" target="_blank">KS2 PowerPoint</a></li>
            <li><a href="{% static 'documents/resources/KS3 Lesson Plan.pdf' %}" target="_blank">KS3 Lesson Plan</a></li>
            <li><a href="{% static 'documents/resources/KS3 PowerPoint.pptx' %}" target="_blank">KS3 PowerPoint</a></li>
        </ul>
        <p>
            Please let us know your thoughts and any experiences of using these resources using the 'Feedback' button. 
        </p>
    </div>

{% endblock %}