@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin: 0 0.64em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.671em;
        min-height: calc(100vh - 3.671em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner-text {
        top: 6em;
    }
    
    #welcome-banner-text-title {
        font-size: 3.2em;
        padding: 2rem;
        padding-bottom: 0;
    }
    
    #welcome-banner-text-tagline {
        font-size: 1.6em;
        padding: 2rem;
    }

    /* ---------- List ---------- */

    .list-options-filters-filter {
        display: inline-block;
        margin: 0.4em 0 0.7em 1em;
        width: calc(25% - 1.3em);
    }

    #list-options-views,
    #list-options-links {
        float: right;
    }

    #list-options-views {
        margin-left: 3em;
    }

    .list-body-item {
        margin: 1em;
        display: inline-block;
        width: calc(33% - 2em);
    }

    .list-body-item.gridview .list-body-item-link {
        min-height: 10em;
    }

    #list-pagination {
        white-space: nowrap;
    }

    .list-pagination-section {
        white-space: normal;
        width: 33%;
        display: inline-block;
        vertical-align: middle;
    }

    /* ---------- Tabs ---------- */

    .tabs {
        border-bottom: 0.3em solid #f9d301;
        margin: 1em 0 2em 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .tabs li {
        display: inline-block;
        vertical-align: bottom;
        width: auto;
        margin-right: -5px;
        padding: 1em 2em;
    }

    /* ---------- Detail ---------- */

    .viewinadmindashboard-link-container {
        float: right;
        width: fit-content;
        padding-left: 2em;
    }

    /* ---------- Footer ---------- */

    #footer-content img {
        height: 6em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }
}
