@media (max-width: 991px) {
    /* ---------- Navigation ---------- */

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: #FFF;
        font-size: 1.7em;
        padding-right: 0.35em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.39em;
        min-height: calc(100vh - 3.39em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: calc(100vh - 3em);
    }

    #welcome-banner-text {
        top: 3em;
    }
    
    #welcome-banner-text-title {
        font-size: 2.7em;
        padding: 1rem 1rem 0 1rem;
    }
    
    #welcome-banner-text-tagline {
        font-size: 1.3em;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    /* ---------- List ---------- */

    #list-options-views,
    #list-options-links {
        display: inline-block;
        width: 49%;
        margin: 1em 0;
        text-align: left;
    }

    #list-options-searchby,
    #list-options-sort,
    #list-options-sort-by,
    #list-options-sort-direction {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
        border-radius: 0.3em;
    }

    #list-options-search-input {
        border-radius: 0.3em 0 0 0.3em;
    }

    .list-body-item {
        margin: 1em 0em;
        display: block;
        width: 100%;
    }

    .list-pagination-section {
        width: 100%;
        display: block;
    }

    /* ---------- Tabs ---------- */

    .tabs {
        margin: 2em 0;
    }

    .tabs li {
        display: block;
        width: 100%;
        padding: 0.5em;
    }

    /* ---------- Detail ---------- */

    .viewinadmindashboard-link-container {
        text-align: center;
        padding-bottom: 2em;
    }

    /* ---------- Footer ---------- */

    #footer-content img {
        height: auto;
        width: 25em;
        max-width: 100%;
        margin: 0 auto 2em auto;
        display: block;
    }
}
