/* Override styles when printing */
@media print {

    /* Hide certain content when printing */
    nav,
    .tabs,
    .quicksearch-input {
        display: none;
    }

    main {
        width: 100%;
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    .tabbed {
        display: block;
    }

    .tabbed-title {
        display: block;
        font-weight: bold;
        font-size: 2em;
        margin: 3em 0 1em 0;
    }

}